.hidden {
  display: none;
}
/* -----------common all styles-------------------- */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ------common-------- */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
/* tablet container styles */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* -------header-------- */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-header {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
}
.logo-header .logo-part {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .logo-header {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 120px;
  }
  /* ----- */
  .nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
  }
  /* ---- */
  .contacts {
    font-style: normal;
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* <----------------MODAL MOBILE MENU--------------*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  fill: #2e2f42;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.mobile-icon-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nuv {
  margin-bottom: auto;
}
.nav-mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.nav-link-mobile {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;

  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-mobile:hover,
.nav-link-mobile:focus,
.mobile-menu-contacts-link:hover,
.mobile-menu-contacts-link:focus {
  color: #404bbf;
}
.mobile-menu-contacts {
  font-style: normal;
  margin-left: auto;
}
.mobile-menu-contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.mobile-menu-contacts-link {
  display: block;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 48px;
}
.mobile-menu-icons-item {
  width: 40px;
  height: 40px;
}
.mobile-menu-icons-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-svg {
  fill: #f4f4fd;
}
.current {
  color: #404bbf;
}
/*---------#END_MODAL MOBILE MENU----------*/
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* ----------------#first section hero--------------- */
.first-section {
  background: #2e2f42;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/1_Moblie/Simple_mobile/1_Hero/people-office@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 320px) and (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/1_Moblie/Retina_mobile/1_Hero/people-office@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .first-section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/2_Tablet/Simple_tablet/1_Hero/people_office_tablet@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/2_Tablet/Retina_tablet/1_Hero/people_office_tablet@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .first-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/3_Desktop/Simple_desktop/1_Hero/people-office_desktop@1x.jpg);
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/3_Desktop/Retina_desktop/1_Hero/people-office_desktop@2x.jpg);
  }
}
.first-section-header {
  max-width: 216px;
  margin: auto;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .first-section-header {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .first-section-header {
    margin-bottom: 48px;
  }
}
.btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background: #404bbf;
}
/* ----------------#end_first section hero--------------- */
/* ----------------#second section our-advantages---------------*/
.second-section {
  padding-top: 96px;
  padding-bottom: 96px;
  width: 100%;
}
.second-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}
.second-section-item-header {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
.second-section-item-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #434455;
}
.antena,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  display: none;
}
@media screen and (min-width: 768px) {
  .second-section-item {
    width: calc((100% - 48px) / 2);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .second-section-item-header {
    text-align: start;
  }
  .second-section-item-description {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1158px) {
  .second-section-list {
    gap: 24px;
  }
  .second-section-item {
    width: calc((100% - 72px) / 4);
  }
  .icon-section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
  }
  .antena,
  .icon-clock,
  .icon-diagram,
  .icon-astronaut {
    display: flex;
  }
  .second-section-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .second-section-item-description {
    font-weight: 400;
  }
  .second-section {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
  }
}
/* ----------------#end_second section our-advantages---------------*/

/* ----------------third section our-team---------------*/
.third-section {
  padding-top: 96px;
  padding-bottom: 96px;
  width: 100%;
  background-color: #f4f4fd;
}
@media screen and (min-width: 1158px) {
  .third-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.third-section-header {
  margin-bottom: 72px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.third-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}
.third-section-item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 428px;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.third-section-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.third-section-item-header {
  margin-bottom: 8px;
}
.third-section-item-descriptoin {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* ------------add decoration icons social nets----------- */
.third-card-desc {
  padding-top: 32px;
  padding-bottom: 32px;
}
.third-section-icons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.third-section-icons-item {
  width: 40px;
  height: 40px;
}
.third-section-icons-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-svg {
  fill: #f4f4fd;
}
.third-section-icons-item-link:hover,
.third-section-icons-item-link:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* --------------------#end_third section our-team------------------------ */
/* ---------------------fourth section our-team--------------------------- */
.forth-section {
  padding-top: 96px;
  padding-bottom: 96px;
  width: 100%;
}
.forth-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.forth-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}
.forth-section-item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  width: 288px;
  height: 400px;
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.forth-section-wrap-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  width: 288px;
}
.forth-section-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 288px;
  object-fit: cover;
  display: block;
}

.overlay {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.forth-section-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;

  padding: 40px 32px;
  transform: translateY(100%);

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.forth-section-item:hover .overlay,
.forth-section-item:focus .overlay {
  transform: translateY(0%);
}
@media screen and (min-width: 768px) {
  .forth-section-list {
    gap: 72px 24px;
  }
  .forth-section-item {
    width: calc((100% - 24px) / 2);
    height: 420px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .forth-section-image {
    max-width: 356px;
  }

  .forth-section-wrap-text {
    width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .forth-section-list {
    gap: 48px 24px;
  }
  .forth-section {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1440px;
  }
  .forth-section-item {
    width: calc((100% - 48px) / 3);
  }
  .forth-section-image {
    max-width: 360px;
  }
  .forth-section-wrap-text {
    width: 360px;
  }
}

/* ---------------------#end_fourth section our-team--------------------------- */
/* ---------------------------------FOOTER------------------------------------ */

/* ----------------------------#end_FOOTER------------------------------------ */
